<div [@routerTransition]>
    <app-page-header [heading]="'Device'" [icon]="'fa-server'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Device</div>
                <div class="card-body" *ngIf="device">
                    Serial Number: {{device.serialNumber}}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-10">
            <div class="card">

                <div class="card-header">Last Known Position</div>
                <div class="card-body" *ngIf="device">
                    <div *ngIf="device.lastPosition; else noLatestPosition">
                        <app-map
                            [lat]="device.lastPosition.lat"
                            [lng]="device.lastPosition.lng"
                            [zoom]="16">
                        </app-map>
                    </div>
                    <ng-template #noLatestPosition>
                        Last position is unknown.
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
