<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/positions" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-marker"></i> {{ 'Positions' | translate }}
        </a>
        <a routerLink="/devices" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-server"></i>&nbsp;{{ 'Devices' | translate }}
        </a>
    </ul>
</nav>
